p{
	color: brown;
	text-align: justify;
	border: orange solid 2.5px;
	padding: 5px;
}

.font_1{
	background-color: black;
	color: yellow;
	font-size: large;
}

.font_2{
	background-color: darkblue;
	color: cyan;
	font-size: medium;
}		

.My_Style{
	background-color: red;
	color: blue;
	text-decoration: underline;
	font-weight: bold;
	font-size: small;
	
}